/* CSS needed for splitTable */

/*
  If you column sizes not matching:
    Make sure the min-width of the table is set to allow the
    table to render full width columns for best results
*/
body {
  min-width: 800px;
}

/* might need to set a min width and max with for tds on the table to be split and the resultant tables*/
table.SecondSplitting td,
table.splitForPrint td {
  max-width: 1100px;
  min-width: 100px;
}

div.tablePage {
  writing-mode: inherit;
  transform: inherit;
  margin-bottom: 10px;
}

@media print {
  div.tablePage {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    margin-bottom: 0px;
  }

  div.tablePage {
    border: 2px solid black;
    /* page-break-inside: avoid; */
    page-break-before: always;
    width: 1000px;
    /* height: 1000px; */
  }
}

/* -----------------------------------  */
div.tablePage {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  margin-bottom: 0px;
}



div.tablePage {
  border: 2px solid black;
  /* page-break-inside: avoid; */
  page-break-before: always;
  width: 1000px;
  /* height: 1000px; */
}

table.splitTable {
  height: 100%;
  padding: 5px;
  background-color: blueviolet;
}

table th { padding: 5px;
}
